{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{% trans "Close" %}">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">{% trans "Close" %}</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="container">
    <!-- Language Switcher -->
    <form id="languageForm" action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}">  <!-- Keeps track of current path -->
        
        <select name="language" id="languageSelect" class="form-control">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name }}
                </option>
            {% endfor %}
        </select>
    </form>

    <div class="col-md-6 offset-md-3">
        {% if request.user.is_authenticated %}
            <h1 class="text-muted text-center mt-3 mb-3">{% trans "User Information" %}</h1>
            <ul class="list-group">
                <li class="list-group-item"><b>{% trans "Name:" %}</b> {{ user_info.name }}</li>
                <li class="list-group-item"><b>{% trans "Username:" %}</b> {{ user_info.preferred_username }}</li>
                <li class="list-group-item"><b>{% trans "Email:" %}</b> {{ user_info.email }}</li>
            </ul>
        {% else %}
            <h1 class="text-muted text-center mt-5 mb-5">{% trans "Welcome to User Authentication App" %}</h1>
            <h2 class="text-muted text-center mt-5">{% trans "Login to see user information" %}</h2>
        {% endif %}
    </div>
</div>

<script>
    // Listen for changes on the select element and submit the form
    document.getElementById('languageSelect').addEventListener('change', function() {
        document.getElementById('languageForm').submit();
    });
</script>

{% comment %} <script>
    document.addEventListener("DOMContentLoaded", function() {
        var redirectUrl;
        {% if request.user.is_authenticated %}
            redirectUrl = "/api/v1/authenticated";
        {% else %}
            redirectUrl = "/api/v1/unauthenticated";
        {% endif %}
        history.replaceState(null, null, redirectUrl);
    });
</script> {% endcomment %}

{% endblock content %}